{% extends "base.html" %}
{% block body %}

<aside>
  <form action="{{ url_for('add_entry') }}" method="POST" class="add_entry">
    <div class="field">
      <label for="title">Title</label>
      <br />
      <input type="text" size="30" name="title" id="title"/>
    </div>
    <div class="field">
      <label for="text">Text</label>
      <br />
      <textarea name="text" id="text" rows="25" cols="80"></textarea>
    </div>
    <div class="control_row">
      <input type="submit" value="Share" name="Share"/>
    </div>
  </form>
  </aside>

{% endblock %}