{% extends "base.html" %}

{% block body %}



    <h2>All posts:</h2>

    <table class="table table-condensed">
      {% for entry in entries %}
        <tr>
          <td><div class="tweet-date">{{ entry.pub_date.strftime("%b %d") }}</div></td>
          <td><a href="/{{entry.slug}}">  {{ entry.title }}</a></td>
          {% if current_user.is_authenticated() %}
          <td><a href="/delete/{{entry.slug}}">Delete</a></td>
          {% else %}
          {% endif %}
        </tr>

      {% endfor %}
    </table>

{% endblock %}