<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
        <aside id="user-controls">
        <ul>
        {% if not session.logged_in %}
          <li><a class="btn btn-primary" href="{{ url_for('login') }}">log in</a></li>
        {% else %}
          <li><a href="{{ url_for('logout') }}">log out</a></li>
        {% endif %}
        </ul>
      </aside>
      <nav>
        <ul>
          <li><a class="btn btn-primary" href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="page-header">
        <h1 class="text-center">My Python Journal<small> Created at Codefellows</small></h1>
      </div>
      <section id="content">
      {% block body %}{% endblock %}
      </section>
    </main>
    <footer>
      <p>Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
  </body>
</html>