{% extends "base.html" %}

{% block body %}

<div class="post" id="entry={{entry.id}}">

  <div class ="post-heading">
    <div class ="post-title">
      {{ entry.title }}
    </div>

    <div class ="post-date">
      {{ entry.pub_date.strftime("%b. %d, %Y") }}
    </div>
  </div>

  <div class="post-content">
    {{ entry.body|safe }}
    <br />
    <br />
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-text = "{{entry[1]}}"
       data-lang="en">Tweet'dat Shit</a>
  </div>
</article>

{% endblock %}


