{% extends "base.html" %}

{% block body %}
{% if session.logged_in %}
  <aside>
  <form action="{{ url_for('add_entry') }}" method="POST" class="add_entry">
    <div class="field">
      <label for="title">Title</label>
      <br />
      <input type="text" size="30" name="title" id="title"/>
    </div>
    <div class="field">
      <label for="text">Text</label>
      <br />
      <textarea name="text" id="text" rows="5" cols="80"></textarea>
    </div>
    <div class="control_row">
      <input type="submit" value="Share" name="Share"/>
    </div>
  </form>
  </aside>


  {% endif %}

  <div = class ='new'></div>

  {% for entry in entries %}
  <div class="post" id="entry={{entry.id}}">

    <div class ="post-heading">
      <div class ="post-title">
        <a href="/{{entry.id}}">{{ entry.title }}</a>
      </div>

      <div class ="post-date">
        {{ entry.created.strftime("%b. %d, %Y") }}
      </div>
    </div>

    <div class="post-content">
      {{ entry.text|safe }}
      <br />
      <br />
    {% if not session.logged_in %}
      <a href="/"></a>
    {% else %}
      <a href="/edit/{{entry.id}}">Edit</a>
    {% endif %}
    </div>
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}
{% endblock %}


