{% extends "base.html" %}

{% block body %}

  {% for entry in entries %}
  <div class="post" id="entry={{entry.id}}">

    <div class ="post-heading">
      <div class ="post-title">
        <a href="/{{entry.id}}">{{ entry.title }}</a>
      </div>
    </div>

    <div class="post-content">
      <div class="post-date">
      Posted on {{ entry.pub_date.strftime("%b. %d, %Y") }}
      </div>
      {{ entry.body|safe }}
      <br />
      {% if current_user.is_authenticated() %}
      <a href="/edit/{{entry.id}}">Edit</a> | <a href="/delete/{{entry.id}}">Delete</a>
      {% else %}
      {% endif %}
    </div>
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}
{% endblock %}


