{% extends "base.html" %}

{% block body %}


    <h2>Briefly about me</h2>
    <div class="post-content">
    <p>
      In 2014 I spent a year learning to code, attended the <a href="http://www.codefellows.org">Codefellows Bootcamp</a>,
      and now I work as a backend developer at <a href="http://www.offerupnow.com">OfferUp</a>.
      <br>
      <br>
      I code primarily in Python and make web apps in Django / Flask.  I love to share, so the code for this blog can be found <a href="https://github.com/johnshiver/learning_journal">here</a>.
      <br>
      <br>
      I also love <a href="https://soundcloud.com/john-shiver">music</a> and <a href="/books">read</a> as much as possible.
    </p>
    <h2>Recent posts:</h2>
      <ul>
      {% for entry in entries %}
      <li>{{ entry.pub_date.strftime("%b. %d, %Y") }} | <a href="/{{entry.id}}">{{ entry.title }}</a></li>
      {% endfor %}
      </ul>
    </p>
    </div>

{% endblock %}


